* {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: black;
}

.clearfix {
    display: block;
    clear: both;
    content: "";
}

body {
    position: relative;
}

/*header started*/

header {
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 1;
    height: 79px;
}

.main-header {
    width: 83%;
    text-align: center;
}

.site-logo {
    width: 35%;
}

.navigation-head {
    width: 75%;
}

.site-logo img {
    width: 100%;
    margin-top: 15px;
}

.navigation ul {
    margin-left: 0;
}

.nav {
    cursor: default;
    font-size: .9rem;
    font-weight: 700;
    color: #3F3F3F;
}

.nav a {
    font-weight: 700;
    color: #3F3F3F;
    font-size: .9rem;
    padding: 29px 20px;
    display: inline-block;
}

.nav a:hover {
    background: #333b48;
    color: white;
}

.contact a span {
    padding-left: 7%;
}

.nav-combo {
    padding: 0 !important;
    margin: 27px 0 0 7%;
}

.nav-searh {
    margin-left: 5%;
}

.fa-search {
    padding-top: 32px;
    font-size: 1.1rem;
    cursor: pointer;
}
.fa-bars {
    font-size: 2.5rem;
    color: #333B48;
}
.combobox {
    height: 35px;
    font-weight: 600;
    background: transparent;
    border: none;
    color: #3F3F3F;
    font-size: 1.1rem;
    border-radius: 20px;
    margin-top: -6px;
}

.cmbx-option {
    border: none;
    font-weight: 500;
    color: #3F3F3F;
}

.flip {
    display: none;
}

/*header ended*/

/*main-container started*/

.main-container img {
    width: 100%;
}

/*main-container ended*/

@media (max-width: 575.98px) {
    .my-nav {
        width: 100%;
    }
    .nav{
        display: block;
    }
    .nav a{
        width: 100%;
    }
    .navigation-head {
        width: 100%;
    }
    .navigation {
        display: none;
    }
    .site-logo {
        text-align: left;
        width: 75%;
    }
    .site-logo img {
        width: 85%;
    }
    .flip {
        text-align: right;
        display: inline-block;
        width: 25%;
        padding-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navigation-head {
        width: 100%;
    }
    .navigation {
        display: none;
    }
    .site-logo {
        text-align: left;
        width: 75%;
    }
    .site-logo img {
        width: 85%;
    }
    .flip {
        text-align: right;
        display: inline-block;
        width: 25%;
        padding-top: 20px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navigation-head {
        width: 100%;
    }
    .navigation {
        display: none;
    }
    .site-logo {
        text-align: left;
        width: 75%;
    }
    .site-logo img {
        width: 200%;
    }
    .flip {
        text-align: right;
        display: inline-block;
        width: 25%;
        margin-left: 50%;
        padding-top: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}