* {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: black;
}

.clearfix {
    display: block;
    clear: both;
    content: "";
}

body {
    position: relative;
}

/*header started*/

header {
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 1;
    height: 79px;
}

.main-header {
    width: 83%;
    text-align: center;
}

.site-logo {
    width: 35%;
}

.navigation-head {
    width: 75%;
}

.site-logo img {
    width: 100%;
    margin-top: 5px;
}
hr{
    margin: 0 0 0 5%;
    width: 90%;
}
.combobox {
    height: 35px;
    font-weight: 600;
    background: transparent;
    border: none;
    color: #3F3F3F;
    font-size: 1.1rem;
    border-radius: 20px;
    margin-top: -6px;
}

.cmbx-option {
    border: none;
    font-weight: 500;
    color: #3F3F3F;
}

.flip {
    display: none;
}

.navbar {
    background: transparent !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 100%;
    left: 0;
    margin-top: 0px;
    margin-left: 0px;
}
.multiple-dropdown-submenu>.multiple-dropdown-menu{
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-item{
    font-size: .8rem;
}
.item-style{
    font-size: .9rem;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item-style:hover{
    background: #333B48;
    color: #ffffff;
}
.nav-search{
    padding-top: 20px;
}
.nav-combobox{
    padding: 20px 0 0 3%;
}
/*header ended*/

/*main-container started*/

.main-container img {
    width: 100%;
}


/*main-container ended*/

@media (max-width: 575.98px) {

    header{
        width: 100%;
    }
    .site-logo {
        text-align: left;
        width: 75%;
    }
    .site-logo img {
        width: 85%;
    }
    .navbar-toggler{
        width: 15%;
    }
    .collapse-res{
        width: 100%;
        background: #333B48;
    }
    .item-style{
        color: #ffffff;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .my-nav {
        width: 100%;
    }
    .nav {
        display: block;
    }
    .nav a {
        width: 100%;
    }
    .navigation-head {
        width: 100%;
    }
    .navigation {
        display: none;
    }
    .site-logo {
        text-align: left;
        width: 75%;
    }
    .site-logo img {
        width: 85%;
    }
    .flip {
        text-align: right;
        display: inline-block;
        width: 25%;
        padding-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .my-nav {
        width: 100%;
    }
    .nav {
        display: block;
    }
    .nav a {
        width: 100%;
    }
    .navigation-head {
        width: 100%;
    }
    .navigation {
        display: none;
    }
    .site-logo {
        text-align: left;
        width: 75%;
    }
    .site-logo img {
        width: 85%;
    }
    .flip {
        text-align: right;
        display: inline-block;
        width: 25%;
        padding-top: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}